<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ document_form.as_p }}

    <div class="form-group">
        {{ tanker_detail_form.capacity.label_tag }}
        {{ tanker_detail_form.capacity }}
        {{ tanker_detail_form.capacity.errors }}
    </div>

    <div class="form-group">
        {{ tanker_detail_form.category.label_tag }}
        {{ tanker_detail_form.category }}
        {{ tanker_detail_form.category.errors }}
    </div>

    <button type="submit">Submit</button>
</form>
